<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact us</title>
    <style type="text/css">
        ul.errorlist{
            margin: 0;
            padding: 0;
        }
        .errorlist li{
            background-color: red;
            color: white;
            display: block;
            font-size: 10px;
            margin: 0 0 3px;
            padding: 4px 5px;
        }
    </style>
</head>
<body>
    <h1>Contact us</h1>
    {% if form.errors %}
        <p style="color:red;">
             <!--pluralize 是filter，用来判断是否为添加's'来表示单词的复数形式-->
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <!--简单版-->
        <!--<table>-->
            <!--&lt;!&ndash;改变输出格式&ndash;&gt;-->
            <!--{{ form.as_table }}-->
        <!--</table>-->
        <!--定制版-->
        <div class="field">
            {{ form.subject.errors }}
            <label for="id_subject">Subject:</label>
            {{ form.subject }}
        </div>
        <div>
            {{ form.email.errors }}
            <label for="id_email">Your email address:</label>
            {{ form.email }}
        </div>
        <div class="field{% if form.message.errors %} errors {% endif %}">
            {% if form.message.errors %}
                <ul class="errorlist">
                    {% for error in form.message.errors %}
                        <li><strong>{{ error }}</strong></li>
                    {% endfor %}
                </ul>
            {% endif %}
            <label for="id_message">Message:</label>
            {{ form.message }}
        </div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>